<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="../public/js/date_scripts.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
		<form>
			Enter date:<br>
			<input type="text" name="date" value="" id="d1">
			<input type="button" value="isValidDate" onclick="isValidDateRet(document.getElementById('d1').value)">
			<input type="button" value="formatDate" onclick="formatDate(document.getElementById('d1').value)"><br>
			<label for="output">valid date: </label><input type="textbox" name="output1"></input>
			<label for="output">formatted date: </label><input type="textbox" name="output2"></input>
		</form>
  </body>
</html>
